<form method="post">
        <table width="80%" align="center" border="1">
            <tr>
                <td> SELECCIONA EL RANGO DE PRECIO DE TU REGALO</td>
                <td>
                    <select name="price">
                        {% for c in prices %}
                        <option value="{{ c[0] }}">{{ c[1] }}
                        {% endfor %}
                    </select>
                </td>
            </tr>

            {% if has_birthday %}
            <tr>
                <td> SELECCIONA EL RANGO DE EDAD DE TU AMIGO</td>
                <td>
                    <select name="age">
                        {% for c in ages %}
                        <option value="{{ c[0] }}">{{ c[1] }}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if has_gender %}
            <tr>
                <td> SELECCIONA EL G&EACUTE;NERO DE TU AMIGO</td>
                <td>
                    <select name="gender">
                        {% for c in gender %}
                        <option value="{{ c[0] }}">{{ c[1] }}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endif %}

            <tr>
                <td> SELECCIONA LA CATEGORIA DE TU REGALO</td>
                <td>
                    <select name="category">
                        {% for c in categories %}
                        <option value="{{ c[0] }}">{{ c[1] }}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
</form>

{% if items %}
<script>
    function add_gift(friend_id, gift_id){
        form = document.forms['form_add_gift']
        form.friend_id.value = friend_id
        form.gift_id.value = gift_id
        form.submit()
    }
</script>

<form id="form_add_gift" method="post" action="/add_gift">

    <input type="text" name="friend_id" />
    <input type="text" name="gift_id" />

    <table width="80%" align="center" border="1">
        {% for x in items %}
        <tr>
            <td>{{ x.title }}</td>
            <td><a href="javascript:add_gift({{ friend_id }}, {{ x.id }});">add item</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endif %}
