{% set i=0 %}
<h2>Friends</h2>

<table width="60%" border="1" align="center">
    <tr>
        {% for x in data %}
            {% set i = i + 1  %}
            <td width="50px">
                <table align="center" width="100%">
                    <tr>
                        <td>{{ x.name }}</td>
                    </tr>
                    <tr>
                        <td><a href="{{ handler.reverse_url('find_gift', x.id) }}"><img height="120px" src="https://graph.facebook.com/{{ x.id }}/picture?type=large"></a></td>
                    </tr>
                </table>
            </td>
            {% if i%3 == 0 %}</tr><tr>{% endif %}
        {% endfor %}
    </tr>
</table>
