<table width="80%" align="center" border="1">

    <tr>
        <td>Amigos</td>
        <td>Regalos</td>
    </tr>

    {% for x in user.gifts %}
    <tr>
        <td><img height="120px" src="https://graph.facebook.com/{{ x.friend_id }}/picture?type=large"></a></td>
        <td>{{ x.gift.title }}</td>
    </tr>
    {% endfor %}

</table>
